/* RESET */ 
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* BODY MAIN */

img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 300px;
    height: 200px;
    border: 2px dotted red;
    margin: 10px;
}

.special_class {
    display: none;
}

.activate {
    display: block;
}

.unactive-item {
    display: none;
}

/*.button-up {
    position: absolute;
    top: 25px;
    right: 145px;
}

.button-down {
    position: absolute;
    top: 300px;
    right: 145px;
}*/