/* RESET */ 
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* BODY MAIN */

img {
    width: 100%
}

.img-container {
    width: 300px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item {
    width: 200px;
    height: 100px;
}

.active-item {
    display: block;
}

.unactive-item {
    display: none;
}

.button-up {
    position: absolute;
    top: 25px;
    right: 145px;
}

.button-down {
    position: absolute;
    top: 300px;
    right: 145px;
}